<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://bootboxjs.com/bootbox.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

@{
    var errorExcel = ViewBag.ErroresExcel;

}

<div class="modal" tabindex="-1" role="dialog" id="Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aviso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @foreach (ML.ResultExcel error in errorExcel)
                {
                    <div class="cont-fila">

                        <div>
                            <p>Hubo un error en el registro @error.NumeroRegistro</p>
                        </div>
                        <div id="error-@error.NumeroRegistro" class="fila-mensaje">
                            <!-- Usa un ID único -->
                            @*<p>Mensaje de error @error.ErrorMessage</p>*@
                        </div>
                    </div>
                    <script>
            // Define la función fuera del bucle
            function CortarCadena(errorMessage, numeroRegistro) {
                let cadena = errorMessage;
                let arregloDeErrores = cadena.split('|').slice(0, -1);
                console.log(arregloDeErrores);

                let salida = "";
                for (let error of arregloDeErrores) {
                    salida += `
                        <div>
                            <p>Mensaje de error: ${error}</p>
                        </div>
                    `;
                }
                console.log(salida);

                let errores = document.getElementById('error-' + numeroRegistro); // Usa el ID único
                if (errores) {
                    errores.innerHTML = salida; // Asigna el contenido al elemento
                } else {
                    console.error("El elemento con ID 'error-" + numeroRegistro + "' no existe.");
                }
            }

            // Llama a la función con los parámetros correctos
            CortarCadena("@error.ErrorMessage", "@error.NumeroRegistro");
                    </script>
                }
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Continuar", "GetAll", "Usuario", new { area = "" }, htmlAttributes: new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>
<script>
    $('#Modal').modal()
</script>